
nav {
    text-align: center;
    margin-bottom: 30px;
}
body {
    width: 90%
    border: solid 3px black;
    background-color: beige;
}
h1 {
    color: black;
    text-decoration: underline;
    font-family: 'Coming Soon', cursive;
}
p {
    font-family: 'Coming Soon', cursive;
}
footer {
    background-color: burlywood;
}